---
layout: default
title: Blindfold Channel
image: "/ing/bc-cover.jpg"
---

    <img class="cl" style="aspect-ratio:1012/587;" src="/ing/mones.png" width="1012" height="587">
    <br><p class="pos">Blindfold Channel</p>
    <p>Welcome to the Blindfold Channel WEB-SITE !</p>
    <hr style="margin:35px 0 20px; opacity:0.6;">

    <h1 style="text-align:center;">A Fresh Indie Project !</h1>
      <p  style="text-align:center;">Blindfold Channel is a fresh indie project where you can find drama and mistery about the protagonists and my silly characters, and their good and not so good history. <br>Here are the characters that will be used for a Dinoki project that will come to light on social networks and in the world.
These characters are a mess and I don't expect anything here because I always wake up and look at my phone and I don't see anything so without further ado, thank you for visiting me and see that.</p>

  <br>
    
    <a href="/about/">
    <button class="myBton" style="width: 300px;">More Info</button>
    </a>
                                                             
    <br/><br/><br/>

    <h1 style="text-align:center;">Our Blindfold Mates !</h1>
<p style="text-align:center;">Meet our Blindfold Characters</p>

    <div class="wrapper">

              {% for oc in site.data.oc %}

              {% if oc.featured == true %}

<div class="cuad1">
    <p style="text-align:center;"><img class="pime" alt="{{ oc.name }}" src="{{ oc.pfp }}" width="120" height="120" draggable="false" loading="lazy"></p>
    <p style="text-align:center;"><span style="font-size:18px;"><strong>{{ oc.name }}</strong></span></p>
</div>

                {% endif %}

                    {% endfor %}
   
  </div>

    <br/>
  <a href="/characters/">
    <button class="myBton" style="width: 300px;">More Characters</button>
    </a>
    
    <br/><br/>
    <br>
    <h1 style="text-align:center;">Our Blindfold Server (Discord) !</h1>
    <p style="text-align:center;">This is my Discord Server Blindfold Channel. <br> This is where you will find the characters of Cleiver and his company, every day a story will be published about him and all the characters of the Dinokiverse, what are you waiting for, Join our Adventure and you will see everything !</p>
    <div class="dorian">
    <a href="/server/">
        <br>
    <button class="myBton" style="width: 300px;">Enter to the Server</button>
    </a>
        <br/><br/>
    </div>

  
    <style>
        
.clbc{
    pointer-events: none;
}

        body{
margin: 0 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
        }

        a.door{
        color: white;
        }

        a.door:hover{
        color: #d9d9d9;
        }


@media screen and (max-width: 900px) {
.iner{
width: 95%;
height: 300px;
}
.card{
width: max-content;
}

 body{
 margin: 0px;
 }
}

        @media screen and (max-width: 1100px) {
.iner{
margin-top: 10px;
}
}
    </style>
