    body{
    text-align: -webkit-center;
    background: #b80000;
    user-select: none;
    font-family: poppins;
    margin: 0 24px;
    }

   br{
   user-select: none;
   }

button{
  font-family: 'Poppins';
  text-transform: uppercase;
}

.drawer{
  overflow: hidden;
}

#lightbox .img{
  max-width: 100% !important;
}

.aubrey{
  text-decoration: none;
  opacity: 1;
}

.aubrey:hover{
  text-decoration: none;
  opacity: 0.5;
  }
  
  .padin-red {

  margin: 0 15px;
  user-select: none;

  }

  .wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
}

.pime{
  border-radius: 10px;
  object-fit: cover;
}

.details{
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px;
  text-align: left;
}

.pdetail{
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 10px;
  text-align: left;
  justify-content: left;
  margin: 0;
}

.persona{
  text-align: center;
}

    .iner{
      border-radius: 30px;
      object-fit: cover;
      width: 200px;
      height: 200px;
    }

    iframe{
    user-select: none;
    }

    h1{
    font-weight: 700;
    margin: 1px;
    }

     .simple-center{
    text-align: center;
      }

    .login{
    text-align: center;
    margin-top: 10px;
      }

 .flexio{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px 55px;
    }

 .qn1 {
     width: 25px;
     height: 25px;
     opacity: 1;
     object-fit: contain;
  }
  
  .qn1:hover {
opacity: 0.5;

  }

    button{
cursor: pointer;
    }

    hr{
    border: 0;
    height: 1px;
    background: #ffffff;
    margin: 40px 0;
    }

    a{
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline;
    }

 a:hover{
    cursor: pointer;
    color: #fafafa;
    text-decoration: none;
    }

 .flex-o {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flexm{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 18px;

}

.ha2{
      display: block;
    font-size: 1.4em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
    unicode-bidi: isolate;
}

 .myBton {
  box-shadow: 0px 0px 0px 2px #ffffff;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

 .myBton:hover {
  background-color: #b80000; /* Add a dark-grey background on hover */
  color: white;
  box-shadow: 0px 0px 0px 1.5px #ffffff;
}

.clbc{
  opacity: 1;
}

.clbc:hover{
  opacity: 0.7;
}

   .piep{
   text-align: center;
   }

   .quot{
    margin: 8px 1vh;
   }

    .card{
color: white;
background: #b80000;
padding: 30px 24px 8px;
width: 55%;
    }

    .pos{

        font-weight: 900;
        font-family: Poppins;
        font-size: 55px;
        margin: 0px;

    }

img{
    -webkit-user-drag: none;
    object-fit: contain;
}

.feature{
  object-fit: cover;
  border-radius: 10px;
  width: 12vw;
  height: 12vw;
}

.cl{
object-fit: cover;
width: 75%;
height: 300px;
margin-top: 0px;
}

link{
display: block;
}

 a.door{
margin-top: 10px;
color: #000000;
font-weight: 400;
font-size: 16px;
text-decoration: underline;
            }

a.door:hover{
color: #000000;
text-decoration: none;
            }

@media screen and (max-width: 1180px){

 .flexm{
  display: block;
}

.feature{
  width: 18dvw;
  height: 18dvw;
}

  .person{
    text-align: left;
  }

  .cm{
  display: none;
}

}

@media screen and (max-width: 650px) {

  .quot{
    margin: 8px 0vh;
   }

  .card{
    width: 100%;
  }
    
   .flexio {
   padding: 0 15px !important;
   }

    .card {
   padding: 30px 0px 30px !important;
    }


.persona{
  text-align: left;
}

.pdetail{
  grid-template-columns: repeat(auto-fill, minmax(200px, 0fr));
  gap: 10px;
  text-align: left;
  justify-content: left;
  margin: 0;
}

.feature{
 width: 200px;
height: 200px;
}
    
}

 @media only screen and (max-width: 1080px) {

     
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  }

  @media screen and (max-width: 380px) {
    .details{
display: table;
    }
    .ha2{
      margin: 18px 0;
    }
    .cr{
      display: none;
    }
  }

