    body{
    user-select: none;
    font-family: poppins;
    margin: 24px;
    }

    iframe{
    user-select: none;
    }

    h1{
    font-weight: 900;
    margin: 1px;
    }

     .simple-center{
    text-align: center;
      }

    .login{
    text-align: center;
      }

 .flexio{
    text-align: center;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 55px;
    }

    button{
cursor: pointer;
    }

   .piep{
   text-align: center;
   }

    .card{
color: white;
background: #b80000;
padding: 30px 15px;
width: 55%;
    }

    .pos{

        font-weight: 900;
        font-family: Poppins;
        font-size: 55px;
        margin: 0px;

    }

img{
    -webkit-user-drag: none;
    object-fit: contain;
}

link{
display: block;
}

 a.door{
margin-top: 10px;
color: #000000;
font-weight: 200;
font-size: 16px;
text-decoration: underline;
            }

a.door:hover{
color: #000000;
text-decoration: none;
            }
