body{
    user-select: none;
    margin: 8px;
    }

    button{
cursor: pointer;
    }

    .card{
background: #b80000;
width: 60%;
    }

    .pos{

        font-weight: 900;
        font-family: Poppins;
        font-size: 55px;
        margin: 0px;

    }

img{
    -webkit-user-drag: none;
    object-fit: contain;
}

link{
display: block;
}
