<br/>
<div class="piep">
    <div class="flex-o">
            <p><a target="_blank" rel="noopener noreferrer" href="https://discord.gg/ZwH78zuyX2/"><img class="qn1" draggable="false" height="32" loading="lazy" src="https://img.icons8.com/?size=100&id=30888&format=png&color=ffffff" style="aspect-ratio:100/100;" title="Discord" width="32"></a></p>
<p class="padin-red">&nbsp;</p>
                        <p><a target="_blank" rel="noopener noreferrer" href="https://youtube.com/channel/UCmf1ZezKYhGjPGR1eZUuDlw/"><img class="qn1" draggable="false" height="32" loading="lazy" src="https://img.icons8.com/?size=100&amp;id=37326&amp;format=png&amp;color=ffffff" style="aspect-ratio:100/100;" title="YouTube" width="32"></a></p>
        <p class="padin-red">&nbsp;</p>
            <p><a target="_blank" rel="noopener noreferrer" href="https://instagram.com/dinoki_0n/"><img class="qn1" draggable="false" height="32" loading="lazy" src="https://img.icons8.com/?size=100&amp;id=DpOQ6G5p47f0&amp;format=png&amp;color=ffffff" style="aspect-ratio:100/100;" title="Instagram" width="32"></a></p>
</div>
<p>© <a title="#BYDINOKI.com" href="https://www.bydinoki.com" target="_blank">#BYDINOKI</a> and Company.</p>
</div>
<br>